html, body {
    height: 100%;
    width: 100%;
}

.hide {
    display: none;
}

#visualizer {
    z-index: 0;
    color: white;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-125deg, #222, #000);
    text-align: center;
    vertical-align: middle;
    display: block;
}

canvas {
    width: 100vw; 
    height: 100vh;
    display: block;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?2255w2');
  src:  url('../fonts/icomoon.eot?2255w2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?2255w2') format('truetype'),
    url('../fonts/icomoon.woff?2255w2') format('woff'),
    url('../fonts/icomoon.svg?2255w2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-l:before {
  content: "\e904";
}
.icon-m:before {
  content: "\e905";
}
.icon-n:before {
  content: "\e900";
}
.icon-n_x:before {
  content: "\e901";
}
.icon-n_y:before {
  content: "\e902";
}
.icon-n_z:before {
  content: "\e903";
}
